<div class="stat-block-wrapper">
  <stat-block>
    <creature-heading>
      <h1>{{this.name}}</h1>
      <h2>{{this.size}} {{this.type}}{{#if this.subtype}} ({{this.subtype}}){{/if}}{{#if this.alignment}}, {{this.alignment}}{{/if}}</h2>
    </creature-heading>

    <top-stats>
      <property-line>
        <h4>Armor Class</h4>
        <p>{{this.armor_class}}{{#if this.armor_desc}} ({{this.armor_desc}}){{/if}}</p>
      </property-line>
      <property-line>
        <h4>Hit Points</h4>
        <p>{{this.hit_points}} ({{this.hit_dice}})</p>
      </property-line>
      <property-line>
        <h4>Speed</h4>
        <p>
          {{#each speed}}
            {{~#unless @first}},{{/unless}}
            {{#if (eq @key "walk")}}
              {{this}} ft.
            {{~else}}
              {{@key}} {{this}} ft.
            {{~/if}}
          {{/each}}
        </p>
      </property-line>

      <abilities-block data-str="{{strength}}"
                        data-dex="{{dexterity}}"
                        data-con="{{constitution}}"
                        data-int="{{intelligence}}"
                        data-wis="{{wisdom}}"
                        data-cha="{{charisma}}"></abilities-block>
      {{#if saving_throws}}
        <property-line>
          <h4>Saving throws</h4>
          <p>
            {{#each saving_throws}}
              {{~#unless @first}},{{/unless}}
              {{@key}} {{this}}
            {{/each}}
          </p>
        </property-line>
      {{/if}}
      {{#if skills}}
        <property-line>
          <h4>Skill</h4>
          <p>
            {{#each skills}}
              {{~#unless @first}},{{/unless}}
              {{@key}} {{this}}
            {{/each}}
          </p>
        </property-line>
      {{/if}}
      {{#if damage_vulnerabilities}}
        <property-line>
          <h4>Damage Vulnerabilities</h4>
          <p>{{capitalizeFirst damage_vulnerabilities}}</p>
        </property-line>
      {{/if}}
      {{#if damage_resistances}}
        <property-line>
          <h4>Damage Resistances</h4>
          <p>{{capitalizeFirst damage_resistances}}</p>
        </property-line>
      {{/if}}
      {{#if damage_immunities}}
        <property-line>
          <h4>Damage Resistances</h4>
          <p>{{capitalizeFirst damage_immunities}}</p>
        </property-line>
      {{/if}}
      {{#if condition_immunities}}
        <property-line>
          <h4>Condition Immunities</h4>
          <p>{{capitalizeFirst condition_immunities}}</p>
        </property-line>
      {{/if}}
      {{#if senses}}
        <property-line>
          <h4>Senses</h4>
          <p>{{capitalizeFirst senses}}</p>
        </property-line>
      {{/if}}
      {{#if languages}}
      <property-line>
        <h4>Languages</h4>
        <p>{{capitalizeFirst languages}}</p>
      </property-line>
      {{/if}}
      {{#if challenge_rating}}
        <property-line>
          <h4>Challenge</h4>
          <p>{{challenge_rating}} ({{expByCr challenge_rating}} XP)</p>
        </property-line>
      {{/if}}
      {{#if proficiency_bonus}}
        <property-line>
          <h4>Proficiency Bonus</h4>
          <p>+{{proficiency_bonus}}</p>
        </property-line>
      {{/if}}
    </top-stats>

    {{#each special_abilities}}
      <property-block>
        <h4>{{this.name}}.</h4>
        <p>{{breaklines this.desc}}</p>
      </property-block>
    {{/each}}

    {{#if actions}}
      <h3>Actions</h3>

      {{#each actions}}
        <property-block>
          <h4>{{this.name}}.</h4>
          <p>{{breaklines this.desc}}</p>
        </property-block>
      {{/each}}
    {{/if}}

    {{#if reactions}}
      <h3>Reactions</h3>

      {{#each reactions}}
        <property-block>
          <h4>{{this.name}}.</h4>
          <p>{{breaklines this.desc}}</p>
        </property-block>
      {{/each}}
    {{/if}}

    {{#if legendary_actions}}
      <h3>Legendary Actions</h3>
      <p>{{breaklines legendary_desc}}</p>

      {{#each legendary_actions}}
        <property-block>
          <h4>{{this.name}}.</h4>
          <p>{{breaklines this.desc}}</p>
        </property-block>
      {{/each}}
    {{/if}}
  </stat-block>
  {{#if description}}
    <div class="description">
      {{breaklines description}}
    </div>
  {{/if}}
</div>